@font-face {
  font-family: 'Vodafone';
  src: local('Vodafone'), url(./assets/fonts/VodafoneRg.ttf) format('truetype');
}

@font-face {
    font-family: 'Vodafone';
    font-weight: 900;
    src: local('Vodafone'), url(./assets/fonts/VodafoneRgBd.ttf) format('truetype');
}